#numeric-plots, #operations, #result {
    display: flex;
    justify-content: center;
}

#number-one, #number-two {
    margin: 10px;
    width: 4%;
}

#result-sum, #result-subtraction {
    width: 4%;
    margin: 10px;
    border: dashed #333 1px;
    text-align: center;
}

.button-operation {
    margin: 10px;
}